@model SurveyApp.Models.Survey

@{
    ViewData["Title"] = "Details";
}
<div class="surveysPublished">
    <h2>Questions & Answers</h2>

    <p>
        <a asp-action="Create" asp-controller="Questions" asp-route-id="@Model.SurveyId" class="btn btn-info surveySurveyButton">Create New</a>
    </p>
</div>



<div class="qnaContainer">
    @foreach (var item in Model.Questions)
    {
        
    <div class="qnaQnaContainer effect7">
        <div class="qnaQuestionContainer">
            <div>
                @Html.DisplayFor(modelItem => item.Content)
            </div>
            <div>
                <a asp-action="Edit" asp-controller="Questions" asp-route-id="@item.QuestionId"><i class="fas fa-edit qnaQuestionEdit"></i></a>
                <a asp-action="Delete" asp-controller="Questions" asp-route-id="@item.QuestionId"><i class="fas fa-trash-alt qnaQuestionDelete"></i></a>
            </div>
        </div>


        <ol class="qnaOl">
            @foreach (var items in item.Answers)
            {

                <li class="qnaAnswers">
                    @Html.DisplayFor(modelItem => items.Content)


                    <a asp-action="Edit" asp-controller="Answers" asp-route-id="@items.AnswerId"><i class="fas fa-edit qnaAnswerEdit"></i></a>
                </li>
            }
        </ol>
    </div>
    }
</div>