@model IEnumerable<SurveyApp.Models.Survey>

@{
    ViewData["Title"] = "Index";
}

<script src="~/js/CheckBoxSurvey.js" type="text/javascript"></script>

<h2 class="surveysTitle">Surveys</h2>

<p class="createSurveyButton">
    <a class="btn btn-info surveySurveyButton"  asp-action="Create">Create New</a>
</p>
<div class="table">
    @*<thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Published)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>*@
    
@foreach (var item in Model) {
        <div class="surveysContent">
            <div class="surveysHeader">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div>
                @*@Html.DisplayFor(modelItem => item.User.FullName)*@
            </div>
            <div>

                @if (item.Published == false)
                {
                    <div class="surveysPublished">
                        @*@Html.DisplayFor(modelItem => item.Published)*@
                        @*<a asp-action="Publish" class="btn btn-info surveySurveyButton" asp-route-id="@item.SurveyId">Publish</a>*@
                        <form asp-controller="Surveys" asp-action="Publish" asp-route-id="@item.SurveyId">
                            <button type="submit" class="btn btn-info surveySurveyButton">Publish</button>
                        </form>
                    </div>
                    <a asp-action="Edit" class="btn btn-info surveySurveyButton" asp-route-id="@item.SurveyId">Edit</a>
                    <a asp-action="Details" class="btn btn-info surveySurveyButton" asp-route-id="@item.SurveyId">Q & A</a>
                    <a asp-action="Delete" class="btn btn-info surveySurveyButton" asp-route-id="@item.SurveyId">Delete</a>
                }
                else
                {

                    <a asp-action="Delete" class="btn btn-info surveySurveyButton" asp-route-id="@item.SurveyId">Delete</a>
                    <a asp-action="SurveyDetails" class="btn btn-info surveySurveyButton" asp-route-id="@item.SurveyId">Survey Results</a>
                }
            </div>
        </div>
}
</div>
